src/lxml/tests/test_inc.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	    xmlns="http://codespeak.net/lxml/schema/ns"
	    targetNamespace="http://codespeak.net/lxml/schema/ns">
  <xsd:element name="a" type="AType"/>
  <xsd:complexType name="AType">
    <xsd:sequence>
      <xsd:element name="b" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
